.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App div {
  width: 50vw;
}

.markdown-pane,
.preview-pane {
  border: 1px solid #aaa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
